name: Dev Pipeline
on:
  push:
    branches: [ "develop" ]
jobs:
  ci-cd:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: { node-version: '18' }
      - run: npm install
      - run: npm run test:html
      - run: npm run test:css
      - run: npm run build
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cs-dept-website:dev
      - run: curl -X POST ${{ secrets.RENDER_CALLBACK_URL }}
